* {
  margin:0;
  padding:0;
  text-align: center;
}

@font-face {
    font-family: 'Gochi Hand', cursive;
}

body {
  font-family: 'Gochi Hand', cursive;
}

/*------------------------------------------------------------------*/

/* Preloader */


#preloader {
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999999;
}

.site-spinner {
    border: 1px solid #ddd;
    font-size: 50px;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: site-spin 1s linear infinite;
    -moz-animation: site-spin 1s linear infinite;
    animation: site-spin 1s linear infinite;
    border-top-color: #503830;
}

@-webkit-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*------------------------------------------------------------------*/


.img {
  width: 5%;
  height: 5%;
}


.top {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: 'Gochi Hand', cursive;
}

.top p{
  font-family: 'Gochi Hand', cursive;
  position: absolute;
  color: white;
  font-size: 500%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 50vw;
}

.AmI {
  color:#FFF;
  background-color: rgb(0, 102, 255);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.AmI p {
  padding-top: 7%;
  font-size: 50px;
  margin-bottom: 20%;
  text-shadow: 2px 2px 1px #26d0c9, -2px 2px 1px #26d0c9, 2px -2px 1px #26d0c9, -2px -2px 1px #26d0c9;
}

.AmI li {
  padding: 1% 3%;
  margin: 1% 0;
  position: relative;
  width: 10%;
  height: 7%;
  left: 10%;
  right: auto;
  font-size: 300%;
  background-color: #26d0c9;
  list-style-type: none;
}

.bright {
  color: #00FFFF;
}

.back {
  background-color: #00FFFF;
}

.big {
  font-size: 30px;
}

.Work {
  background-color: black;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.Work p {
  color: white;
  padding: 5% 0;
  font-size: 50px;
}

.Work li {
  margin: 2% 4.7%;
  padding: 5% 0;
  width: 40%;
  height: 50%;
  list-style-type: none;
  background-color: #FFF;
  background-position: center;
  border-color: #000;
  float: left;
  border: 2px solid #000;
}

.Work li:hover{
  background: #B91C22;
  color: #000;
  opacity: 0.5;
}

.Work a{
  text-decoration: none;
  padding: 30% 0;
  color: #000;
  font-size: 30px;
  text-shadow: 2px 2px 1px #B91C22, -2px 2px 1px #B91C22, 2px -2px 1px #B91C22, -2px -2px 1px #B91C22;
}

.Youtube {
  background-image: url(../img/youtube.jpg);
  background-size: cover;
}

.LiT {
  background-image: url(../img/lit.jpg);
  background-size: cover;
}

.Technologia {
  background-image: url(../img/technorogia.png);
  background-size: cover;
}

.Mesh {
  background-image: url(../img/mesh.png);
  background-size: cover;
}

.Contact {
  background-image: url(../img/contact.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.Contact p{
  padding: 5%;
  font-size: 50px;
  text-shadow: 2px 2px 1px #26d0c9, -2px 2px 1px #26d0c9, 2px -2px 1px #26d0c9, -2px -2px 1px #26d0c9;
}


.Contact li {
  margin: 5% 6.4%;
  list-style-type: none;
  float: left;
  width: 20%;
  height: 20%;
  color: #00FFFF;
}

.Contact li:hover{
  background-color: #26d0c9;
  border-radius: 90px;
}

/*.Contact a {
  padding: 25% 28%;
}
*/
.Contact i {
  padding: 20% 20%;
  color: #00FFFF;
  font-size: 100px;
}

.Contact i:hover{
  color: #000;
  border-radius: 90px;
}

footer {
  list-style-type: none;
  margin-top: 10%;
  padding-top: 25%;
  letter-spacing: 3px;
  font-size: 1.5rem;
  line-height: 10px;
  color: #000;
  height: 10px;
}

